<div class="row">
  <div class="col-4 offset-2"> 
    ・業務名：<%= @work.name %>
  </div>
  <div class="col-5"> 
    ・業務時期：<%= @work.period %>月
  </div>
</div>

<!-- 以下、Workモデルの修正フォーム用 -->
<%= form_with(model:[@department, @work]) do |f| %>
<% end %>

<!-- 以下、Workflowモデルの修正フォーム用 -->
<%= form_with model: @workflow do |f| %>
<% end %>

  