<% if @event.errors.present? %>
  <ul id="error_explanation">
    <% @event.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form" %>