<% if @event.errors.present? %>
  <ul id="error_explanation">
    <% @event.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-1">
  <div class="col-auto">
    <h5>イベント編集</h5>
  </div>
</div>

<%= render "form" %>