<% if @event.errors.present? %>
  <ul id="error_explanation">
    <% @event.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-4">
  <div class="col-4">
    <h5>イベント作成</h5>
    </div>
</div>

<%= render "form" %>