<div class="row mb-4">
  <div class="col-4">
    <h5>ToDo編集</h5>
  </div>
</div>

<%= render "form" %>

<div class="row justify-content-end text-right mr-5 mb-3">
  <div class="col-4 ml-5">
    <%= link_to "ToDo削除", todo_path(@todo.id), method: :delete, data: { confirm: "ToDoを削除します。よろしいですか？" }, class: "btn btn-danger" %>
  </div>
</div>