/*以下、techboostカリキュラム関係

h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 97.8vw;
  height: 90vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 150px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  
  margin: 0 auto;
  position: fixed;
  width: 70%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-comment {
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .comment-contents{
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

*/

/*以下、bootstrap関係*/

/*以下、fontawesome関係*/

.fa-arrow-alt-circle-left {
  font-size: 25px;
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 130px;
}

.fa-arrow-alt-circle-right {
  font-size: 25px;
  position: absolute;
  z-index: 100;
  right: -10px;
  top: 130px
}

/*以下、slick関係*/

.slick-slide {
  padding: 0 15px;
}

.slick-slide img {
  width: auto;
  height: 100%;
}
        
.slick-track{
  height: auto; /*スケジュールのborderが消える問題を"auto"にすることで解決*/
}

/*以下、simple_calendar関係*/

.simple-calendar {
  .day {}

  .wday-0 {
    color: red;
    background: #FFF0F5;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
    background: #F0F8FF;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

/*以下、その他見た目関係*/